* {
  box-sizing: border-box;
}

.posts_background {
  background-color: rgba(234, 234, 234, 0.896);
  background-position: cover;
  z-index: -1;
  position: absolute;
  // object-fit: cover;
  // width: 100vw;
  // height: 100vh;
}
.form-control {
  font-size: 14px;
  padding: 8px;
}

.modal-content {
  font-size: 14px;
}

.custom-btn-color {
  background-color: #a8c090;
}
.postcard_main {
  display: flex;
  flex-direction: row;
  gap: 30px;
  flex-wrap: wrap;
  margin-left: 40px;
  margin-top: 25px;
}
